@mixin transition($transition) {
  -webkit-transition: $transition all ease-in-out;
  -moz-transition: $transition all ease-in-out;
  -ms-transition: $transition all ease-in-out;
  transition: $transition all ease-in-out;
}

.transition {
  -webkit-transition: 300ms all ease-in-out;
  -moz-transition: 300ms all ease-in-out;
  -ms-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}
body{
  font-family: $main-font-family;
  background: #ebe5d1;
}
*{
  box-sizing: border-box !important;
}
p{
  margin-bottom: 5px;
}